<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

        <div class="trigger">
          <!-- asel's blog instead of blog -->
          <a class="page-link" href="/">blog</a>
          <a class="page-link" href="/about/">about</a>
          <a class="page-link" href="/photoportfolio/">photoportfolio</a>
          <a class="page-link" href="/poetry/">poetry</a>
          <a class="page-link" href="/portfolio/">portfolio</a>
        </div>
        
    </nav>

  </div>

</header>
